- semantic_form_for @invoice do |form|
  - form.inputs do
    = form.input :invoice_number, :label => 'Invoice Number'
    = form.input :store, :label => 'Store'
    = form.input :customer, :label => 'Customer'
  - form.inputs do
    - form.object.invoice_items.build if form.object.invoice_items.count == 0
    - form.inputs 'Item %i', :for => :invoice_items, :class => 'item' do |builder|
      = render 'invoice_items/inputs', :f => builder
    = link_to_add_fieldset 'Add Item', form, :invoice_items
  = form.buttons

