<% title "Invoice" %>

<p>
  <strong>Invoice Number:</strong>
  <%=h @invoice.invoice_number %>
</p>
<p>
  <strong>Customer:</strong>
  <%=h @invoice.customer %>
</p>
<p>
  <strong>Store:</strong>
  <%=h @invoice.store %>
</p>

<p>
  <%= link_to "Edit", edit_invoice_path(@invoice) %> |
  <%= link_to "Destroy", @invoice, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", invoices_path %>
</p>
