<p>
  <b>Product:</b>
  <%=h @requirement.product %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @requirement.quantity %>
</p>

<p>
  <b>Franchise:</b>
  <%=h @requirement.franchise %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>