<h1>Listing sale_bills</h1>

<table>
  <tr>
    <th>Franchise</th>
    <th>Created by</th>
    <th>Modified by</th>
  </tr>

<% @sale_bills.each do |sale_bill| %>
  <tr>
    <td><%=h sale_bill.franchise %></td>
    <td><%=h sale_bill.created_by %></td>
    <td><%=h sale_bill.modified_by %></td>
    <td><%= link_to 'Show', sale_bill %></td>
    <td><%= link_to 'Edit', edit_sale_bill_path(sale_bill) %></td>
    <td><%= link_to 'Destroy', sale_bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sale_bill', new_sale_bill_path %>