<% table_for @sale_bills do |t| %>
  <tr>
  <% semantic_form_for @search do |f| %>
    <th><%= f.input :id_like %></th>
    <th><%= f.input :franchise_name_like %></th>
    <th><%= f.input :created_at_greater_than %></th>
    <th><%= f.input :created_at_less_than %></th>
    <th><%= f.submit 'Search' %></th>
  <% end %>
  </tr>

  <%= t.data :id, :franchise, :created_at, :amount, :actions => :all %>
  <tfoot>
	  <tr>
		  <th> total </th>
		  <td> <%= @sale_bills.reduce(0) {|sum, item| sum += item.net_amount()} %></td>
	  </tr>
  </tfoot>
<% end %>

<%= will_paginate @sale_bills %> | <%= link_to 'New sale_bill', new_sale_bill_path, :id => 'add_new', :class => 'ui-icon ui-icon-plusthick' %>
