<table>
<thead class='print-only'>
  <tr>
    <td colspan=6 class='center'>Tax Invoice</td>
  </tr>
  <tr>
    <td colspan=6 class='center'><h1>Darwin Pharma Pvt. Ltd.</h1></td>
  </tr>
  <tr>
    <td colspan=6 class='center'>
    #54-18-37/4, AIR Colony, Vijayawada - 520 008
    Ph. +91 866 6451144
    </td>
  </tr>
  <tr>
    <th>DL20B</th><td>208/AP/KR-V2/2009/W</td>
    <th>DL21B</th><td>208/AP/KR-V2/2009/W</td>
    <th>TIN</th><td>28856909282</td>
  </tr>
  <tr>
    <td colspan=6>&nbsp;</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td colspan=4><%=h @sale_bill.franchise.name %></td>
    <th>Invoice Number</th><td><%= @sale_bill.id %></td>
  </tr>
  <tr>
    <td colspan=4><pre><%=h @sale_bill.franchise.address %></pre></td>
    <th>Date &amp; Time</th><td><%= @sale_bill.created_at %></td>
  </tr>
  <tr>
    <th>DL</th><td><%=h @sale_bill.franchise.dl %></td>
    <th>TIN</th><td><%=h @sale_bill.franchise.tin %></td>
    <td colspan=2>&nbsp;</td>
  </tr>
  <tr>
    <td colspan=6>&nbsp;</td>
  </tr>
  <tr><td colspan=6>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Batch Code</th>
      <th>Pack</th>
      <th>Exp. Date</th>
      <th>MRP</th>
      <th>Qty</th>
      <th>Rate</th>
      <th>VAT</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @sale_bill.sale_bill_items.each do |item| %>
    <tr>
      <td class = 'left' ><%= item.product_batch.product_name %></td>
      <td class = 'left' ><%= item.product_batch.batch_code %></td>
      <td class = 'right' ><%= item.product_batch.pack %></td>
      <td class = 'center' ><%= item.product_batch.exp_date.strftime("%Y - %m") %></td>
      <td class = 'right'><%= item.product_batch.mrp %></td>
      <td class = 'right'><%= item.quantity %></td>
      <td class = 'right'><%= item.product_batch.rate %></td>
      <td class = 'right'><%= item.product_batch.vat %>%</td>
      <td class = 'right'><%= item.amount %></td>
     </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=5>&nbsp;</td>
      <th colspan=2>Total Amount</th>
      <td>&nbsp;</td>
      <td class = 'right'><%= @sale_bill.amount %></td>
    </tr>
    <% @sale_bill.taxable_amount.each do |key,value| %>
      <tr>
        <th colspan=2><%= key %>% Tax:</th>
        <td>&nbsp;</td>
        <td class='right'><%= (value * key).round / 100 %></td>
        <td colspan=5>&nbsp;</td>
      </tr>
    <% end %>
    <tr>
      <td colspan=5>&nbsp;</td>
      <th colspan=2>Net Amount</th>
      <td>&nbsp;</td>
      <td class = 'right'><%= @sale_bill.net_amount %></td>
    </tr>
  </tfoot>
</table>
</td></tr>
</tbody>
</table>


<%= link_to_function "Print this Bill", "javascript:print()" %> |
<%= link_to 'Edit', edit_sale_bill_path(@sale_bill) %> |
<%= link_to 'Back', sale_bills_path %>
