<table id='data'>
<thead>
  <tr>
    <th>Customer</th>
  </tr>
</thead>
<tbody>
<% @bills.each do |bill| %>
  <tr>
    <td><%=h bill.customer.name %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete, :class =>'ui-icon ui-icon-trash' %></td>
  </tr>
<% end %>
</thead>
</table>

<%= link_to 'New bill', new_bill_path, :id => 'add_new', :class => 'ui-icon ui-icon-plusthick' %>
