<h1>Listing bills</h1>

<table>
  <tr>
    <th>Customer</th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%=h bill.customer.name %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bill', new_bill_path %>
