<table>
<thead class='print-only'>
<tr>
  <th rowspan=3 colspan=3 ><h1>Darwin Pharmacy</h1></th>
  <th>Address:</th><td colspan=3><%= @bill.franchise.address %></td>
</tr>
<tr>
  <th>DL: </th><td><%= @bill.franchise.dl %></td>
  <th>TIN: </th><td><%= @bill.franchise.tin %></td>
</tr>
<tr><td colspan=4></td></tr>
</thead>
<tbody>
<tr>
  <th>Bill Number</th><td><%= @bill.id %></td>
  <td colspan=4></td>
  <th>Date &amp; Time</th><td><%= @bill.created_at %></td>
</tr>
<tr id='customer'>
  <th>Customer</th>
  <th>Name</th><td><%=h @bill.customer.name %></td>
  <th>Phone</th><td><%=h @bill.customer.phone %></td>
  <th>Address</th><td colspan=3><%=h @bill.customer.address %></td>
</tr>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>schedule</th>
      <th>Batch</th>
      <th>Exp. Date</th>
      <th>Quantity</th>
      <th>MRP</th>
      <th>Discount</th>
      <th>amount</th>
    </tr>
  </thead>
  <tbody>
  <% for item in @bill.bill_items %>
    <tr>
      <td><%=h item.product_batch.product.name %></td>
      <td><%=h item.product_batch.product.schedule %></td>
      <td><%=h item.product_batch.batch_code %></td>
      <td><%=h item.product_batch.exp_date %></td>
      <td><%=h item.quantity %></td>
      <td><%=h item.product_batch.mrp %></td>
      <td><%=h item.discount %>%</td>
      <td><%=h item.amount %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=7>Total Amount:</th>
      <td><%=h @bill.amount %></td>
    </tr>
    <tr>
      <th colspan=7>Total Savings:</th>
      <td><strong><%=h @bill.savings %></strong></td>
    </tr>
  </tfoot>
</table>
</tbody>
</table>

<%= link_to_function "Print this Bill", h("print()") %> |
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
