<section>
<h1>Customer</h1>
  <dt>Name</dt>
    <dd><%=h @bill.customer.name %></dd>
  <dt>Phone</dt>
    <dd><%=h @bill.customer.phone %></dd>
  <dt>Address</dt>
    <dd><%=h @bill.customer.address %></dd>
</section>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Batch</th>
      <th>Exp. Date</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Discount</th>
      <th>amount</th>
    </tr>
  </thead>
  <tbody>
  <% for item in @bill.bill_items %>
    <tr>
      <td><%=h item.product_batch.product.name %></td>
      <td><%=h item.product_batch.batch_code %></td>
      <td><%=h item.product_batch.exp_date %></td>
      <td><%=h item.quantity %></td>
      <td><%=h item.product_batch.price %></td>
      <td><%=h item.discount %>%</td>
      <td><%=h item.price %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=4>Total Amount:</th>
      <td><%=h @bill.amount %></td>
    </tr>
  </tfoot>
</table>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
