<!DOCTYPE html>
<html>
<head>
<title>Darwin Pharmacy - <%= controller_name.titleize %></title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<%= stylesheet_link_tag 'yui', 'html5', 'layout/application', action_name %>
<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.require', 'html5', action_name %>
<%= yield :head %>

</head>
<body>
<header>
  <!-- site header -->
  <hgroup id='title'>
    <!-- squashes subtitle in doc outline -->
    <%= image_tag "darwin_pharmacy.png" %>
    <!--
	<h1>Darwin Pharmacy</h1>
    <h2>Happy and Healthy</h2>
	-->
  </hgroup>
  <hgroup id='login'>
    <% if current_user %>
      <%= link_to "Edit Profile",edit_user_path(:current) %>  
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Log in", login_path %>  
    <% end %>
  </hgroup>
  <%= render :partial => 'layouts/user_links' %>

</header>
<div id='wrapper'>
  <div id="container">
    <div id='main'>
      <%= yield %>
    </div>
  </div>
  <aside>
    <!-- sidebar -->
    <%= yield :aside %>
  </aside>
  <div class='clear'></div>
</div>
<footer>
<!-- site footer -->
  <div class='tip'>
      <p class='error banner'><%= flash[:error] %></p>
      <p class='notice banner'><%= flash[:notice] %></p>
  </div> 
  <p>Copyright &copy; 2009 Darwin Pharma Pvt. Ltd. All rights reserved.</p>
</footer>
</body>
</html>
