<!DOCTYPE html>
<html>
<head>
<title><%= yield :page_title or 'Darwin Pharmacy' %></title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<!--[if IE]-->
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js' %>
  <script>
    CFInstall.check({});
  </script>
<!--[endif]-->
<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css' %>
<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css' %>
<%= stylesheet_link_tag 'http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css' %>
<%= stylesheet_link_tag 'html5', 'layout/public' %>
<%= yield :style_sheets %>

<%= javascript_include_tag 'jquery-1.4.1.min', 'html5' %>
<%= yield :javascripts %>
</head>
<body>
<header>
  <!-- site header -->
  <hgroup id='title'>
    <!-- squashes subtitle in doc outline -->
    <%= image_tag "darwin_pharmacy.png" %>
    <!--
	<h1>Darwin Pharmacy</h1>
    <h2>Happy and Healthy</h2>
	-->
  </hgroup>
  <hgroup id='login'>
    <% if current_user %>
      <%= link_to "Edit Profile",edit_user_path(:current) %>  
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Log in", login_path %>  
    <% end %>
  </hgroup>
  <nav>
    <!-- main blog navigation links -->
    <ul>
      <li href=<%= url_for :controller => 'public' %>>Home</li>
      <li class='disabled'>Services</li>
      <li href=<%= url_for :controller => 'public', :action => 'stores' %>>Store Locator</li>
      <li class='disabled'>Medicine Cabinet</li>
      <li href=<%= url_for :controller => 'public', :action => 'franchise' %>>Work With Us</li>
      <li href=<%= url_for :controller => 'public', :action => 'about' %>>About Us</li>
    </ul>
  </nav>
  <hgroup id='search'>
    <h3>Search</h3>
    <form action="…">
      <input name="q" type="search"
          placeholder="To search, type and hit enter" />
    </form>
  </hgroup>

</header>
<div id='wrapper'>
  <div id="container">
    <div id='main'>
      <p class='error banner'><%= flash[:error] %></p>
      <p class='notice banner'><%= flash[:notice] %></p>
      <%= yield %>
    </div>
  </div>
  <aside>
    <!-- sidebar -->
    <%= yield :aside %>
  </aside>
  <div class='clear'></div>
</div>
<footer>
  <!-- site footer -->
  <p>Copyright © 2009 Darwin Pharmacy. All rights reserved.</p>
</footer>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-11112987-2");
  pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
